<div class="has-limit">
  <div class="row">
    <div class="col-sm-12 col-md-6">
      <div class="edit-form">

      
      <h2><%= @project.name %></h2>

      <p>
        <strong>Project Number:</strong>
        <%= @project.number %>
      </p>

      <p>
        <strong>Project Status:</strong>
        <% if @project.project_state %>
          <%= @project.project_state.name %>
          <% end %>
      </p>

      <p>
        <strong>Notes:</strong>
        <%= simple_format(@project.notes) %>
      </p>

      <%= render :partial => 'objectives_list', :locals => {:objectives => @project.objectives} %>

      <%= link_to 'Edit Project', edit_project_path(@project) %> |
      <%= link_to 'Back to Projects', projects_path %>
      </div>
    </div>
  </div>
</div>

